@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@700&family=Alumni+Sans+Collegiate+One&family=Josefin+Sans&family=Open+Sans:wght@700&family=Sansita+Swashed:wght@700&display=swap");

h1 {
  font-family: Sansita + Swashed;
}
h2 {
  font-family: Alegreya + Sans + SC;
}
header h2 {
  color: black;
}