
  header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

 img {
    height: 300px;
    width: 100%;
 }  


footer {
    text-align: center;
    flex-wrap: wrap;
    background-color: #160F29;
    padding: 5px;
    color: #E4FF1A;
 }
 body {
  background-color: #1be7ff;
 }

 nav ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #4361ee;
}

nav ul li {
  flex: 1 1;
}

nav ul li a {
  display: block;
  color: #E4FF1A;
  padding: 0.5rem 0;
  text-decoration: none;
  font-size: 0.9rem;
  text-align: center;
}

nav ul li:hover {
  background-color: #160F29;
}

tr td {
  padding: 1rem;
  border: 1px solid #160F29;
}

tr td:first-child {
  color: #E4FF1A;
  background-color: #160F29;
}
