footer {
    background-color: #461818;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 0;
    font-size: 14px;
    color: white;
  }
  
  footer img {
    width: 100px;
    height: auto;
  }
  
  footer p {
    margin: 0;
  }
  
  footer a {
    color: #333;
    text-decoration: none;
    margin-left: 20px;
  }
  
  footer a:hover {
    text-decoration:underline;
  }
  