body {
  min-height: 80vh;
  /* display: grid; */
  /* grid-template-rows: auto 1fr auto; */
  background-color: #ddd0c8;
}

/*Header CSS..............*/
header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 4fr auto;
  background-color: #faa6ff;
  padding: 0.8rem;
  min-height: 100%;
}

/* Add hover effect to navigation items */
#primaryNav li a:hover {
  background-color: #7353ba;
  color: #fff;
}


.main-header {
  grid-row: 2/4;
  grid-column: 1/2;
}
.main-header {
  display: grid;
  grid-template-columns: 3fr 2fr 1fr;
}

header #header-logo img {
  width: 60px;
  height: auto;
  padding-top: 10px;
}

.img-name {
  display: flex;
  
}
.chamber-name {
  margin-left: 5px;
  padding-bottom: 10px;
}

.socials {
  padding-top: 5px;
}
.socials img {
  width: 30px;
  height: auto;
  justify-content: center;
}
.chamber-name h1 {
  font-size: 20px;
}

.header-date {
  max-width: 100%;
  text-align: center;
  font-size: .9rem;
  background-color: #2f195f;
  color: white;
  margin-top: 5px;
  grid-column: 1/2;
  grid-row: 3/4;
  padding: 2px;
}
#banner {
  max-width: 100%;
  text-align: center;
  font-size: .9rem;
  background-color: #323232;
  color: white;
  
  grid-column: 1/2;
  grid-row: 1/2;
  
}

* {
  box-sizing: border-box;
}



nav button {
  background-color: transparent;
  border: none;
  font-size: 2rem;
  color: #083667;
}
nav ul {
  list-style-type: none;
  padding: 0;
  margin: 1rem;
  height: auto;
}

nav ul li a {
  display: block;
  padding: 0.8rem 2vw;
  text-decoration: none;
  color: #333;
  border-top: 1px solid rgba(0, 0, 0, 0.5);
}

/* nav ul li.active a {
  color: #ffff;
} */
nav ul li a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

nav ul {
  display: none;
}
nav ul.open {
  display: block;
}

#humburgerbtn span:nth-child(1) {
  display: block;
}
#humburgerbtn span:nth-child(2) {
  display: none;
}

#humburgerbtn.open span:nth-child(1) {
  display: none;
}
#humburgerbtn.open span:nth-child(2) {
  display: block;
}

/* Main CSS
.grid-container div {
  min-height: auto;
} */
.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(7, 1fr);
  gap: 10px; /* add a gap between grid items */
  padding: 10px;
  color: #fff;
  text-align: center;
  background-color: #0f1020;
  /* min-height: 100%; */
}

/*.herodiv {
  position: relative;
}*/
.call-button {
  background-color: #ddd0c8;
  display: block;
  height: 4rem;
  width: 15rem;
  position: relative;
  bottom: 100px;
  left: 150px;
  color: #083667;
  padding: 3px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  
}


.call-button p {
  color: #083667;
  padding-left: 50%;
}
.grid-container > div, .spotlight > div {
  border: 2px solid rgba(0, 0, 0, 0.5);
  padding: 10px;

}
main figure.myphoto {
  width: 100%;
}


main figure.myphoto img {width:100%;}
hr {
  border-style: solid;
}

.welcome {
  display: block;
  position: relative;
  right: 1px;
  padding-left: 10px;
  color: #faa6ff;
  font-size: 15px;
}
.myphoto {
  padding-right: 15%;
  width: auto;
}


.spotlight {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-row: 6/8;
}
.spot3 {
  display: none;
}

.call-to-action,
.event,
.weather,
.news,
.join,
.spotlight {
  background-color: #ddd0c8;
  color: #083667;
}

.call-to-action h2,
.event h2,
.weather h2,
.news h2,
.join h2,
.spotlight h2 {
  background-color: #083667;
  color: #faa6ff;
}

.call-to-action p,
.event p,
.weather p,
.news p,
.join p,
.spotlight p {
  font-size: 10px;
}

/* .call-to-action img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding: 0;
} */
.event img {
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
}


.weather img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

main .grid-container > div .join p{
  font-size: 100%;
}


/*Footer CSS*/
footer {
  padding: 0.8rem;
  text-align: center;
  background-color: #2f195f;
  color: white;
  
}

footer p,
.footerTime {
  font-size: 15px;
}

footer img {
  width: 100px;
  height: auto;
  padding: 5px;
  font-size: 10px;
}
.slash {
  display: none;
  margin-left: 10px;
  margin-right: 10px;
}

h1
h2 {
  font-family: 'Instrument Serif', serif;
}
footer,
p {
  font-size: 10px;
  font-family: 'Roboto Slab', serif;

}

/**______Join page CSS____________*/
.join {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.membershipLevels {
  margin: 10px;
}
.membershipLevels p {
  font-size: 1rem;
}
.membershipLevels h2 {
  padding: 6px;
}

.form h1 {
  display: block;
  text-align: center;
}


.form form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
  color: black;
}

.form form input, .form textarea {
  font-size: 1em;
  width: 450px;
  height: 30px;
  padding: 10px;
  margin: 10px auto;
  border: 2px solid black;
  border-radius: 10px;
  font-weight: 500;
  background-color: #e5e5e5;
}

.form textarea {
  height: 250px;
}

.form form label {
  font-weight: 700;
  text-align: left;
  margin: 5px;
}

label, textarea, select{
  display: inline-block;
  clear: left;
  width: 450px;
  text-align: left;
}

.form #submit {
  background-color: #14213d;
  color: white;
  cursor: pointer;
  padding: 10px;
  border: none;
  border-radius: 10px;
  position: relative;
  z-index: 5;
  width: 200px;
  height: 50px;
  font-size: 1.5em;
  font-weight: 700;
  margin: 15px;
}

.form #submit:hover {
  background-color: #21395c;
}

.thankyou {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 10px;
  text-align: center;
  min-height: 100vh;
}
.thankyou img {
  width: 400px;
  height: 500px;
}

.thankyou h1, .board h1 {
  display: block;
}

      /*_____Discover CSS_________*/

      .discover div {
        padding: 10px;
      }
      .discover-main h1{
        text-align: center;
        font-size: 4rem;
      
      }
      .discover-main p{
        font-size: 1.8rem;
      
      }
      .discover-main{
        justify-content: center;
        align-items: center
      
      }   




.discover div:hover{
  -moz-box-shadow: 0 0 10px #ddd0c8;
  -webkit-box-shadow: 0 0 10px #ddd0c8;
  box-shadow: 0 0 10px #ddd0c8;
  }
  .discover img {
  width: 300px;
  height: 300px;
  }
  picture img {
      transition: opacity 0.3s ease-in-out;
  }
    
  picture img:hover {
      opacity: 0.8;
      box-shadow: 0 0 50px #333;
  }
  .discover-main{
      text-align: center;
      min-width: auto; 

  }
  .discover-main h1, h2 {
    color: #2f195f;
  }


  .discover-main p {
    color: #083667;
    font-family: 'Times New Roman', Times, serif;
    padding: 10px;
    font-size: 15px;

  }

  /* ________DIRECTORY _________ */
  /* Add any additional CSS rules specific to the directory page */
.directory-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.directory-card {
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(245, 183, 183, 0.1);
}

.directory-card h2 {
  font-size: 1.6em;
  margin-top: 0;
}

.directory-card img {
  width: 300px;
  height: 400px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.directory-card p {
  margin: 0;
  font-size: 1rem;
  
}

.directory-list {
  list-style-type: none;
  padding: 0;
}

.directory-list-item {
  background-color: #f5f5f5;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.directory-list-item h2 {
  font-size: 1.2em;
  margin-top: 0;
}

/* .directory-list-item img {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 10px;
} */

.directory-list-item p {
  margin: 0;
}

.view-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.directory-container.list-view {
  display: flex;
  flex-direction: column;
}
/*_________Contact Page_______*/
.contact-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 100vh;
}
.contact-page-info,
.contact-form {
  margin-bottom: 2rem;

}
.contact-form form {
  display: grid;
  gap: 1rem;
  max-width: 400px;
  width: 100%;
}
.contact-form label {
  font-weight: bold;
  font-size: 20px;
}
.contact-form textarea {
  resize: vertical;
  min-height: 100%;
}
.contact-page h2 {
  padding-top: 50px;
}
main p {
  font-size: 15px;
  padding-left: 10%;
  padding-right: 10%;
}
.contact-page form input[type="text"],
.contact-page form input[type="email"],
#message {
  padding: 5px;
  margin-bottom: 5px;
  border: var(--accent3-color) solid;
  box-shadow: inset 0 3px 6px rgba(54, 54, 54, 0.416), inset 0 3px 6px rgba(67, 67, 67, 0.594);
}

.contact-form {
  padding-bottom: 40px; 
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
}









